<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App wants to access your photo library to add photos for enhanced functionality and user experience.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App wants to access your photo library to add photos for enhanced functionality and user experience.</string>
</dict>
</plist>
